hr {
  border: none; /* Elimina el borde por defecto */
  height: 2px; /* Grosor de la línea */
  background-color: #00000021; /* Color de la línea */
  width: 80%; /* Ancho de la línea (80% del contenedor) */
  margin: 20px auto; /* Centra la línea y añade espacio arriba/abajo */
}

text {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: block;
  margin: 0 auto;
}

.img-grande {
  height: 15vh;
  image-rendering: pixelated; /* Para Chrome, Edge y Safari */
  image-rendering: crisp-edges; /* Para Firefox */
}